{% include base_path %}

{% comment %} Correctly assign teaser path, prioritizing post.thumbnail {% endcomment %}
{% if post.thumbnail %}
{% assign teaser = post.thumbnail %}
{% elsif post.header.teaser %}
{% assign teaser = post.header.teaser %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: " list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% comment %} Teaser is now a direct child, for flex layout with content wrapper {% endcomment %}
    {% if teaser %}
    <div class="archive__item-teaser-small">
      <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | relative_url }}{% endif %}"
        alt="{{ post.title | escape }} thumbnail">
    </div>
    {% endif %}

    <div class="archive__item-content-wrapper">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.permalink | relative_url }}" rel="permalink"><i
            class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
        <a href="{{ post.permalink }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% if post.authors %}
      <p>{{ post.authors }}</p>
      {% endif %}
      {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}

      {% if post.collection == 'teaching' %}
      <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.date %}
      <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{
          site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time
          datetime="{{ post.date | default: " 1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" |
          date: "%B %d, %Y" }}</time></p>
      {% endif %}

      {% comment %} Removed the clear: both div as flexbox will handle layout {% endcomment %}

      {% if post.citation and post.paperurl and post.slidesurl %}
      <p>Recommended citation: {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a></p>
      {% elsif post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }}</p>
      {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }}</p>
      {% endif %}
    </div>
  </article>
</div>